RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]


RewriteEngine on

RewriteRule ^v1$ v1.php [L]
RewriteRule ^v1/(.*)$ v1.php?/$1 [L]

RewriteRule ^Manm$ Manm.php [L]
RewriteRule ^Manm/(.*)$ Manm.php?/$1 [L]



RewriteRule ^DEO$ DEO.php [L]
RewriteRule ^DEO/(.*)$ DEO.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
