body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:960px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:51px;
  width:640px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:636px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:872px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u6 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:1262px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:81px;
  top:1420px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u10 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:240px;
  top:1420px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u12 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:398px;
  top:1420px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u14 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:556px;
  top:1420px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u16 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:872px;
  width:640px;
  height:98px;
  font-size:20px;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u18 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:15px;
  top:878px;
  width:154px;
  height:88px;
  font-size:20px;
  color:#0099FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:150px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:174px;
  top:878px;
  width:154px;
  height:88px;
  font-size:20px;
  color:#0099FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:150px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:332px;
  top:878px;
  width:154px;
  height:88px;
  font-size:20px;
  color:#0099FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:150px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:490px;
  top:878px;
  width:154px;
  height:88px;
  font-size:20px;
  color:#0099FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:150px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:41px;
  top:910px;
  width:25px;
  height:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:195px;
  top:912px;
  width:24px;
  height:21px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:353px;
  top:908px;
  width:27px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:509px;
  top:913px;
  width:30px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:240px;
  top:323px;
  width:160px;
  height:36px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:240px;
  top:373px;
  width:160px;
  height:36px;
  font-size:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:240px;
  top:420px;
  width:160px;
  height:36px;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:240px;
  top:463px;
  width:160px;
  height:36px;
  font-size:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:509px;
  width:160px;
  height:36px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
