body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:10px;
  width:1167px;
  height:811px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:811px;
}
#u1 {
  position:absolute;
  left:2px;
  top:398px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:821px;
  width:1167px;
  height:1380px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:1380px;
}
#u3 {
  position:absolute;
  left:2px;
  top:682px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
