body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:960px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:50px;
  width:640px;
  height:88px;
  font-size:28px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:636px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:872px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u6 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:878px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u8 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:174px;
  top:878px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u10 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:332px;
  top:878px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u12 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:490px;
  top:878px;
  width:154px;
  height:88px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:88px;
}
#u14 {
  position:absolute;
  left:2px;
  top:36px;
  width:150px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:208px;
  top:438px;
  width:245px;
  height:89px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:89px;
}
#u16 {
  position:absolute;
  left:2px;
  top:36px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:230px;
  top:468px;
  width:200px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:169px;
  top:540px;
  width:353px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:138px;
  width:318px;
  height:82px;
  font-size:20px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:82px;
}
#u22 {
  position:absolute;
  left:2px;
  top:29px;
  width:314px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:320px;
  top:138px;
  width:330px;
  height:82px;
  font-size:20px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:82px;
}
#u24 {
  position:absolute;
  left:2px;
  top:29px;
  width:326px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:155px;
  top:210px;
  width:33px;
  height:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:848px;
  top:438px;
  width:245px;
  height:89px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:89px;
}
#u28 {
  position:absolute;
  left:2px;
  top:36px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:870px;
  top:468px;
  width:200px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:809px;
  top:540px;
  width:343px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:650px;
  top:310px;
  width:500px;
  height:410px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:410px;
}
#u34 {
  position:absolute;
  left:2px;
  top:197px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
