body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:640px;
  height:4041px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:4041px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2012px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
