body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:1167px;
  height:1199px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:1199px;
}
#u1 {
  position:absolute;
  left:2px;
  top:592px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:23px;
  top:1229px;
  width:1167px;
  height:904px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:904px;
}
#u3 {
  position:absolute;
  left:2px;
  top:444px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
