body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:960px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:50px;
  width:640px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:636px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:83px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:41px;
  top:662px;
  width:570px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:88px;
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:566px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:194px;
  top:256px;
  width:400px;
  height:80px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:50px;
  top:277px;
  width:129px;
  height:42px;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:41px;
  top:252px;
  width:558px;
  height:90px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:33px;
  width:554px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:68px;
  top:286px;
  width:22px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:199px;
  top:354px;
  width:400px;
  height:80px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:46px;
  top:373px;
  width:155px;
  height:42px;
  font-size:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:42px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:41px;
  top:349px;
  width:558px;
  height:90px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:90px;
}
#u20 {
  position:absolute;
  left:2px;
  top:33px;
  width:554px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:68px;
  top:386px;
  width:22px;
  height:22px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
