body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:960px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:50px;
  width:640px;
  height:88px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:872px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u6 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:440px;
  width:200px;
  height:100px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
