body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:90px;
  width:640px;
  height:960px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:760px;
  top:90px;
  width:640px;
  height:960px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u4 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:760px;
  top:90px;
  width:640px;
  height:40px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:760px;
  top:129px;
  width:640px;
  height:88px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u8 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:760px;
  top:952px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u10 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1450px;
  top:80px;
  width:640px;
  height:960px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u13 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1450px;
  top:120px;
  width:640px;
  height:88px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u15 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1450px;
  top:942px;
  width:640px;
  height:98px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:98px;
}
#u17 {
  position:absolute;
  left:2px;
  top:41px;
  width:636px;
  word-wrap:break-word;
}
